###                                                                  Concrete Strength

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics
from sklearn.svm import SVC

In [2]:
data=pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/Yhills_July12_Analytics/main/concrete.csv")
data.sample(5)

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
784,314.0,145.3,113.2,178.9,8.0,869.1,690.2,28,46.23
538,531.3,0.0,0.0,141.8,28.2,852.1,893.7,7,46.90
1005,387.0,20.0,94.0,157.0,14.3,938.0,845.0,28,50.24
585,173.5,50.1,173.5,164.8,6.5,1006.2,793.5,100,56.06
709,173.5,50.1,173.5,164.8,6.5,1006.2,793.5,56,53.77

In [3]:
data.shape

(1030, 9)

In [4]:
data.dtypes

cement          float64
slag            float64
ash             float64
water           float64
superplastic    float64
coarseagg       float64
fineagg         float64
age               int64
strength        float64
dtype: object

#### All the columns are already float or int

In [5]:
data.isnull().sum()

cement          0
slag            0
ash             0
water           0
superplastic    0
coarseagg       0
fineagg         0
age             0
strength        0
dtype: int64

#### No missing values

In [6]:
data.dtypes

cement          float64
slag            float64
ash             float64
water           float64
superplastic    float64
coarseagg       float64
fineagg         float64
age               int64
strength        float64
dtype: object

In [7]:
data.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,141.3,212.0,0.0,203.5,0.0,971.8,748.5,28,29.89
1,168.9,42.2,124.3,158.3,10.8,1080.8,796.2,14,23.51
2,250.0,0.0,95.7,187.4,5.5,956.9,861.2,28,29.22
3,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
4,154.8,183.4,0.0,193.3,9.1,1047.4,696.7,28,18.29

In [8]:
data.describe()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [10]:
X=data.drop(['strength'], axis=1)
y=data[['strength']]

In [11]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.30, random_state=1)
print(y_train)

     strength
185     22.53
286     64.90
600     11.36
691     32.82
474     40.87
..        ...
960     21.02
847     14.40
715     33.42
905     40.06
235      6.47

[721 rows x 1 columns]

### Linear Regression

In [12]:
reg_model = LinearRegression()
reg_model.fit(X_train, y_train)
reg_model.score(X_train,y_train)

0.603148754063023

In [13]:
reg_model.score(X_test,y_test)

0.6339136715208276

### Polynomial Feature

In [14]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model

poly=PolynomialFeatures(degree=4,interaction_only=True)
X_train2=poly.fit_transform(X_train)
X_test2=poly.fit_transform(X_test)
poly_clf=linear_model.LinearRegression()
poly_clf.fit(X_train2,y_train)
print(poly_clf.score(X_train2,y_train))
print(poly_clf.score(X_test2,y_test))

0.8535208628988926
0.6743168341407577

### Decision Tree

In [15]:
from sklearn.tree import DecisionTreeRegressor
dtree=DecisionTreeRegressor()
dtree.fit(X_train,y_train)

DecisionTreeRegressor()

In [16]:
print(dtree.score(X_train,y_train))
print(dtree.score(X_test,y_test))

0.9948592423407845
0.865107176390052

### KNN

In [17]:
KNN=KNeighborsRegressor()
KNN.fit(X_train, y_train)

KNeighborsRegressor()

In [18]:
print(KNN.score(X_train,y_train))
print(KNN.score(X_test,y_test))

0.7885751253869091
0.7002884426423789

### Enseble Learning- Bagging

In [19]:
from sklearn.ensemble import BaggingRegressor
bgcl=BaggingRegressor()
bgcl=bgcl.fit(X_train,y_train)
print(bgcl.score(X_train,y_train))
print(bgcl.score(X_test,y_test))

0.9751967037405423
0.8976926967268454

D:\New folder\lib\site-packages\sklearn\ensemble\_bagging.py:429: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return column_or_1d(y, warn=True)

### Ensemble Learning -AdaBoosting

In [20]:
from sklearn.ensemble import AdaBoostRegressor
abcl=AdaBoostRegressor(n_estimators=91)
abcl=abcl.fit(X_train,y_train)
print(abcl.score(X_train,y_train))
print(abcl.score(X_test,y_test))

D:\New folder\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8277531334303851
0.7716229110452337

### Ensemble Learning- GradientBoost

In [21]:
from sklearn.ensemble import GradientBoostingRegressor
gbcl=GradientBoostingRegressor(n_estimators=333,random_state=1)
gbcl=gbcl.fit(X_train,y_train)
print(gbcl.score(X_train,y_train))
print(gbcl.score(X_test,y_test))

D:\New folder\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9799703216123857
0.9220841758297275

### This Model(Gradient Boost) is best for this dataset

### Ensemble Learning- RandomForest

In [22]:
from sklearn.ensemble import RandomForestRegressor
rfcl=RandomForestRegressor(n_estimators=34,criterion='absolute_error',max_features='auto',max_samples=92)
rfcl=rfcl.fit(X_train,y_train)
rfcl.score(X_train,y_train)
print(rfcl.score(X_train,y_train))
print(rfcl.score(X_test,y_test))

C:\Users\HP\AppData\Local\Temp\ipykernel_12932\1229144056.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfcl=rfcl.fit(X_train,y_train)

0.8536825759621192
0.8171113956271845

#####